doctype html
html(lang="en")
	head
		title= title
	body
		h1 #{title}	
		p #{test}

		hr
		p login part
		input(type="text" id="login_name" )
		input(type="text" id="login_password" )
		input(type="button" id="login_send" value="login send")
		p(id="login_answer")
		
		hr
		p logout part
		input(type="button" id="logout_send" value="logout send")
		p(id="logout_answer")

		hr
		p signup part
		input(type="text" id="signup_name" )
		input(type="text" id="signup_password" )
		input(type="button" id="signup_send" value="signup send")
		p(id="signup_answer")

		script(src="/js/send.js")
