.root {
    background-color: #afa;
    padding-top: 6.5px;
    padding-bottom: 6.5px;
    border-bottom: 1px solid #ddd;
}

.tagLine {
    display: flex;
    justify-content: space-between;
}

.topBarMenu {
    color: red;
}
