@font-face {
    font-family: "EnamelaW01-Condensed";
    src: url("./fonts/EnamelaW01-Condensed.eot");
    src: url("./fonts/EnamelaW01-Condensed.eot?#iefix")
            format("embedded-opentype"),
        url("./fonts/EnamelaW01-Condensed.woff2") format("woff2"),
        url("./fonts/EnamelaW01-Condensed.woff") format("woff");
}
@font-face {
    font-family: "Tahova";
    src: url("./fonts/Tahoma.ttf");
}
