.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

.leftContainer {
    max-width: 68%;
    padding: 40px 20px;
}

.common_a {
    color: #777;
    text-decoration: underline;
}

.common_a:hover {
    color: #ff4b33;
}
