.title_h1 {
    font-family: "Helvetica Neue", Arial, Helvetica, "Nimbus Sans L", sans-serif;
    color: #000;
    font-size: 21px;
    font-weight: bold;
    line-height: 1.3em;
    margin-bottom: 3px;
}

.content {
    clear: both;
    padding: 16px 0 0 0;
    margin-bottom: 20px;
    position: relative;
    min-height: 150px;
}

.text {
    margin-bottom: 22px;
    color: #333;
    font-size: 16px;
    line-height: 24px;
}
