.root {
    margin: 0;
}

.link {
    display: inline-block;
    margin-right: 35px;
}

.link:last-child {
    margin-right: 0;
}

.active {
    text-decoration: underline;
    box-shadow: 1px 1px 1px #000;
}
