.root {
    height: 20px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.bar {
    position: absolute;
    height: 100%;
    background-color: #ff5300;
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0, #ff5300),
        color-stop(1, #ffb59a)
    );
    background-image: -moz-linear-gradient(
        center bottom,
        #ff5300 37%,
        #ffb59a 69%
    );
    -webkit-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
        inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
}

.bar:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: -webkit-gradient(
        linear,
        0 0,
        100% 100%,
        color-stop(0.25, rgba(255, 255, 255, 0.2)),
        color-stop(0.25, transparent),
        color-stop(0.5, transparent),
        color-stop(0.5, rgba(255, 255, 255, 0.2)),
        color-stop(0.75, rgba(255, 255, 255, 0.2)),
        color-stop(0.75, transparent),
        to(transparent)
    );
    background-image: -moz-linear-gradient(
        -45deg,
        rgba(255, 255, 255, 0.2) 25%,
        transparent 25%,
        transparent 50%,
        rgba(255, 255, 255, 0.2) 50%,
        rgba(255, 255, 255, 0.2) 75%,
        transparent 75%,
        transparent
    );
    -webkit-background-size: 50px 50px;
    -moz-background-size: 50px 50px;
    background-size: 50px 50px;
    -webkit-animation: move 2s linear infinite;
    -moz-animation: move 2s linear infinite;
}

@-webkit-keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}

@-moz-keyframes move {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 50px 50px;
    }
}
